*
{
    box-sizing: border-box;
}



.navbar
{
    background-color: rgb(65, 64, 64);
    margin-top: 0px;
   position: fixed;
   width: 100%;
   z-index: 1000;
   top: 0px;

}
.navbar ul
{
   
   list-style-type:none;
   padding: 0%;
   margin: 0%;
 overflow: hidden;
 
  
}
.navbar a
{
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display:block;
}
body
{
    margin:0px;
    background-color:rgb(238, 229, 229);
    padding-top: 0px;
    
}
.navbar a:hover
{
    background-color: black;
}
.navbar li
{
    float:left;
   
}
p
{
    margin:20px
}
header img
{
    width: 100%;
}
h1
{
    margin: 4px;
    text-align: center;
    font-size: 80px;
    font-family:'permanent marker'


    
}
footer
{
    background-color: rgb(51, 71, 87);
    padding: 5px;
    text-align: center;
}
aside
{
    width: 20%;
    float: left;
    
}
section
{
    width: 37%;
    float: left;
}
article
{
  
    float: left;
    display:inline-flex;
    gap: 30px;
    padding: 5px;
    flex-wrap: wrap;
    width: 40%;
   
   
   
  
}
main
{
    margin: 10px;
    margin-right: 0px;
    padding: 25px;
    display:block;
    
}
article img
{
    width: 167px;
    height: 250px;
    border-radius: 10px;
}
article figcaption
{
   
    text-align: center;
    gap: 30px;
    padding: 10px;
   

}
.gallery
{
    display: inline-block; 
    margin:0px;
    border: 1.5px solid rgb(112, 110, 110);
    border-radius: 10px;
   
}
.gallery:hover
{
    border: 1.5px solid black;
}
.gallery figcaption a
{
    text-decoration: none;
    color: black;
}
.gallery figcaption a:hover
{
    color: rgb(51, 71, 87); 
}
.icons
{
    text-align: center;
    
}
.icons i
{
    margin: 0 15px;
}
.icons a
{
    color: black;
    text-decoration: none;
}
.icons a:hover
{
   color: rgb(14, 38, 58); ;
}
.duba
{
   
    background-image:url(https://www.heavenofhorror.com/wp-content/uploads/2024/12/Carry-on-Netflix-Thriller.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    position:  relative;
    margin-top:0px;
    margin-bottom:0px;
    height: 600px;
    width: 100%;
    padding: top 10px 10px;
  box-sizing: border-box;
  font-family:'lobster';
}
.awaj
{
    font-family: 'lobster';
    font-weight: bold;
    font-size: 8em;
    margin-left: 100px;
    padding-top: 40px;
    animation-name: slideleft;
    animation-duration: 2s;
}
.awaj2
{
    -webkit-flow-into: 'lobster';
    font-weight: bold;
    font-size: 3em;
    padding-left: 40px;
    margin-left: 110px;
    animation-name:fade ;
    animation-duration: 2s;
}
.awaj span
{
    color: #E50914 ;
  
}
@keyframes slideleft
{
    from{transform: translateX(50%);}

}
@keyframes fade 
{
   50%{opacity: 0;}
}
@keyframes glow
{
    50%{text-shadow: 0 0 50px  rgb(51, 71, 87);}
}
h1:hover
{
    animation-name: glow;
    animation-duration: 2s;
}